### Experiment field for new code, you can see the result rightaway

In [101]:
import numpy as np
import cartopy.crs as ccrs
import pickle
from helper import *
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib.dates as mdates
import math

In [102]:

with open('grouped.pkl', 'rb') as f:
    groupedYears = pickle.load(f)

In [103]:
i = 1

In [111]:
# density map code:
def simpleDF(df):
    df_with_counts = df.copy()
    df_with_counts['year'] = df_with_counts['date'].apply(lambda d: d.year)
    df_with_counts = (
        df_with_counts.groupby(["year", "systemNum", "profileNum"])
        .size()
        .reset_index(name='count')
        )
    return df_with_counts

group_zero = simpleDF(groupedYears[i])
print(len(groupedYears[i]))
print(np.sum(group_zero["count"]))
print(len(group_zero["count"]))
print(group_zero.head())

5127456
5127456
4769
   year  systemNum  profileNum  count
0  2008          6         967    828
1  2008          6         968    832
2  2008          6         969   1008
3  2008          6         970    992
4  2008          6         971    980

In [ ]:
# Group and count
def simpleDF(df):
    df_with_counts = df.copy()
    df_with_counts['year'] = df_with_counts['date'].apply(lambda d: d.year)
    df_with_counts = (
        df_with_counts.groupby(["lat", "lon", "year", "systemNum", "profileNum"])
        .size()
        .reset_index(name='count')
        )
    return df_with_counts

group_zero = simpleDF(groupedYears[i])
# print(group_zero)
# print(group_zero[group_zero["year"]==2004])
print(len(group_zero[group_zero["year"]==2005]))
print(len(group_zero[group_zero["year"]==2006]))
print(len(group_zero[group_zero["year"]==2007]))

            lat         lon  year  systemNum  profileNum  count
0     74.077351 -135.096601  2006          3        1510    932
1     74.081346 -135.695960  2006          3        1504    992
2     74.083059 -135.674867  2006          3        1503   1000
3     74.086695 -135.101169  2006          3        1511    920
4     74.089399 -135.121412  2006          3        1509    908
...         ...         ...   ...        ...         ...    ...
7254  80.946172 -149.019553  2007          8         100   1148
7255  80.953127 -149.042850  2007          8          99   1168
7256  80.974083 -149.633178  2007          8          97   1148
7257  80.974738 -149.523529  2007          8          98   1184
7258  80.990152 -151.842318  2007          8          89   1256

[7259 rows x 6 columns]
            lat         lon  year  systemNum  profileNum  count
2835  76.569531 -134.164638  2004          2         180    976
2838  76.571359 -134.130646  2004          2         181    976
2839  76.571627 -134.219250  2004          2         179    948
2844  76.577193 -134.117708  2004          2         182    976
2846  76.578211 -134.295095  2004          2         178    936
...         ...         ...   ...        ...         ...    ...
3872  77.159743 -140.970960  2004          2           5    988
3878  77.165787 -141.009686  2004          2           4   1016
3879  77.165869 -141.071005  2004          2           3   1020
3884  77.167240 -141.124306  2004          2           2   1000
3886  77.169878 -141.169724  2004          2           1   1008

[239 rows x 6 columns]
1049
3197
2774

In [77]:
check_unique = (
    groupedYears[i].groupby(['date', 'profileNum',"systemNum"])[['lat', 'lon']]
    .nunique()
    .reset_index()
)
print(check_unique[check_unique["lat"] > 1])

Empty DataFrame
Columns: [date, profileNum, systemNum, lat, lon]
Index: []

In [ ]:
df = groupedYears[i]
check_unique = (
    df.groupby(['date', 'profileNum', "systemNum"])[['lat', 'lon']]
    .nunique()
    .reset_index()
)
print(check_unique)

# Only those with more than 1 unique lat or lon
not_unique = check_unique[(check_unique['lat'] > 1) | (check_unique['lon'] > 1)]

for _, row in not_unique.iterrows():
    date = row['date']
    profile = row['profileNum']

    # Filter original df for this pair
    subset = df[(df['date'] == date) & (df['profileNum'] == profile)]

    # Get distinct lat/lon values
    unique_locs = subset[['lat', 'lon',"systemNum"]].drop_duplicates()

    print(f"\n(date: {date}, profileNum: {profile}) has multiple locations:")
    print(unique_locs)
# add ITP system number to the inital dataset

36295