In [87]:
import numpy as np
import cartopy.crs as ccrs
import pickle
from helper import *
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib.dates as mdates
import math

In [88]:

with open('grouped.pkl', 'rb') as f:
    groupedYears = pickle.load(f)

In [89]:
i = 0

In [96]:
# Group and count
def simpleDF(df):
    df_with_counts = df.copy()
    df_with_counts['year'] = df_with_counts['date'].apply(lambda d: d.year)
    df_with_counts = (
        df_with_counts.groupby(["date","systemNum", "profileNum", "lon", "lat"])
        .size()
        .reset_index(name='count')
        )
    return df_with_counts

group_zero = simpleDF(groupedYears[i])
print(len(groupedYears[i]))
print(np.sum(group_zero["count"]))
print(len(group_zero["profileNum"]))
print(group_zero.head())
print(groupedYears[i])

7315084
7315084
7259
         date  systemNum  profileNum         lon        lat  count
0  2004-08-20          2           1 -141.169724  77.169878   1008
1  2004-08-20          2           2 -141.124306  77.167240   1000
2  2004-08-20          2           3 -141.071005  77.165869   1020
3  2004-08-20          2           4 -141.009686  77.165787   1016
4  2004-08-20          2           5 -140.970960  77.159743    988
           depth      temp        date   salinity         lon        lat  \
13443208  100.00 -1.573486  2007-08-14  32.244474 -149.314595  78.085411
13443209  100.25 -1.572936  2007-08-14  32.246645 -149.314595  78.085411
13443210  100.50 -1.572386  2007-08-14  32.248816 -149.314595  78.085411
13443211  100.75 -1.571836  2007-08-14  32.250987 -149.314595  78.085411
13443212  101.00 -1.571285  2007-08-14  32.253159 -149.314595  78.085411
...          ...       ...         ...        ...         ...        ...
32453699  382.75  0.871830  2007-12-31  35.006338 -138.383059  80.059732
32453700  383.00  0.871864  2007-12-31  35.006353 -138.383059  80.059732
32453701  383.25  0.871867  2007-12-31  35.006368 -138.383059  80.059732
32453702  383.50  0.871860  2007-12-31  35.006282 -138.383059  80.059732
32453703  383.75  0.871854  2007-12-31  35.006196 -138.383059  80.059732

            pressure     dT/dZ     dS/dZ      n_sq  turner_angle     R_rho  \
13443208  101.087362  0.004807  0.012407  0.000104    -45.578850  5.426893
13443209  101.340143  0.004809  0.012449  0.000104    -45.576424  5.467644
13443210  101.592924  0.004809  0.012491  0.000104    -45.573916  5.508131
13443211  101.845705  0.004809  0.012533  0.000104    -45.571328  5.548432
13443212  102.098486  0.004808  0.012575  0.000104    -45.568658  5.588461
...              ...       ...       ...       ...           ...       ...
32453699  387.205882  0.001747  0.000315  0.000002     67.619582  2.699441
32453700  387.459028  0.001732  0.000308  0.000002     68.228794  2.671488
32453701  387.712176  0.001716  0.000301  0.000002     68.838990  2.643562
32453702  387.965323  0.001700  0.000294  0.000002     69.450067  2.615662
32453703  388.218471  0.001685  0.000287  0.000002     70.061934  2.587797

          profileNum  systemNum
13443208           1         13
13443209           1         13
13443210           1         13
13443211           1         13
13443212           1         13
...              ...        ...
32453699         284          8
32453700         284          8
32453701         284          8
32453702         284          8
32453703         284          8

[7315084 rows x 14 columns]

In [100]:
# Group and count
def simpleDF(df):
    df_with_counts = df.copy()
    df_with_counts['year'] = df_with_counts['date'].apply(lambda d: d.year)
    df_with_counts = (
        df_with_counts.groupby(["lat", "lon", "year", "systemNum", "profileNum"])
        .size()
        .reset_index(name='count')
        )
    return df_with_counts

group_zero = simpleDF(groupedYears[i])
print(group_zero)
print(group_zero[group_zero["year"]==2004])
print(len(group_zero[group_zero["year"]==2005]))
print(len(group_zero[group_zero["year"]==2006]))
print(len(group_zero[group_zero["year"]==2007]))

            lat         lon  year  systemNum  profileNum  count
0     74.077351 -135.096601  2006          3        1510    932
1     74.081346 -135.695960  2006          3        1504    992
2     74.083059 -135.674867  2006          3        1503   1000
3     74.086695 -135.101169  2006          3        1511    920
4     74.089399 -135.121412  2006          3        1509    908
...         ...         ...   ...        ...         ...    ...
7254  80.946172 -149.019553  2007          8         100   1148
7255  80.953127 -149.042850  2007          8          99   1168
7256  80.974083 -149.633178  2007          8          97   1148
7257  80.974738 -149.523529  2007          8          98   1184
7258  80.990152 -151.842318  2007          8          89   1256

[7259 rows x 6 columns]
            lat         lon  year  systemNum  profileNum  count
2835  76.569531 -134.164638  2004          2         180    976
2838  76.571359 -134.130646  2004          2         181    976
2839  76.571627 -134.219250  2004          2         179    948
2844  76.577193 -134.117708  2004          2         182    976
2846  76.578211 -134.295095  2004          2         178    936
...         ...         ...   ...        ...         ...    ...
3872  77.159743 -140.970960  2004          2           5    988
3878  77.165787 -141.009686  2004          2           4   1016
3879  77.165869 -141.071005  2004          2           3   1020
3884  77.167240 -141.124306  2004          2           2   1000
3886  77.169878 -141.169724  2004          2           1   1008

[239 rows x 6 columns]
1049
3197
2774

In [77]:
check_unique = (
    groupedYears[i].groupby(['date', 'profileNum',"systemNum"])[['lat', 'lon']]
    .nunique()
    .reset_index()
)
print(check_unique[check_unique["lat"] > 1])

Empty DataFrame
Columns: [date, profileNum, systemNum, lat, lon]
Index: []

In [ ]:
df = groupedYears[i]
check_unique = (
    df.groupby(['date', 'profileNum', "systemNum"])[['lat', 'lon']]
    .nunique()
    .reset_index()
)
print(check_unique)

# Only those with more than 1 unique lat or lon
not_unique = check_unique[(check_unique['lat'] > 1) | (check_unique['lon'] > 1)]

for _, row in not_unique.iterrows():
    date = row['date']
    profile = row['profileNum']

    # Filter original df for this pair
    subset = df[(df['date'] == date) & (df['profileNum'] == profile)]

    # Get distinct lat/lon values
    unique_locs = subset[['lat', 'lon',"systemNum"]].drop_duplicates()

    print(f"\n(date: {date}, profileNum: {profile}) has multiple locations:")
    print(unique_locs)
# add ITP system number to the inital dataset

36295